/* typography */

h1 {
    font-family: 'Josefin Sans', sans-serif;
}

p, a {
    font-family: 'Noto Serif', serif;
}

/* layout */

p {
   margin-bottom: 30px;
   font-size: 14px;
   color: #1f1f2e;
}